<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Gusto uses your camera to identify food and save a photo with your items.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Gusto connects to your storage sensor to monitor conditions around your food.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.mhacks.rescue.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.mhacks.rescue</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Gusto uses your location to show food near you and calculate seller distances.</string>
</dict>
</plist>
